/* ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
} */

ul, ol {
	list-style: none;
}

ul {
	display: block;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

li {
	text-align: -webkit-match-parent;
}

a {
	color: #00c;
	text-decoration: underline;
	outline: 0;
	cursor: pointer;
}

a, input, select {
	font-size: 12px;
}

/**
.control-operations {
	white-space: nowrap;
	cursor: pointer;
	z-index: 10;
	text-size-adjust: none;
}

.control-operations .operation-item {
	float: left;
}

.control-operations .operation-item .action {
	box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 3px;
	padding: 2px 6px;
	text-align: center;
	white-space: nowrap;
	background: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(139, 164, 220);
	background: rgb(255, 255, 255);
	font-style: normal;
	font-variant: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.3em;
	font-family: arial, sans-serif;
	color: rgb(0, 0, 0);
}

.control-operations .operation-item .on {
	font: bold 12px/1.3em arial, sans-serif;
	background: rgb(142, 168, 224);
	color: rgb(255, 255, 255);
	border-left: 1px solid rgb(139, 164, 220);
	border-top: 1px solid rgb(139, 164, 220);
	border-bottom: 1px solid rgb(139, 164, 220);
	background: rgb(142, 168, 224);
}
*/

/**
 * 操作按钮
 */
.operation-container {
	width: 120px;
}

.operation-btn {
	width: 75px;
	height: 55px;
	line-height: 1.42857143;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 16px 6px 2px 6px;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.30);
	white-space: nowrap;
	touch-action: manipulation;
	user-select: none;
	-ms-touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.operation-btn div {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

.operation-btn img {
	width: 30px;
}

.btn-building {
	background-color: #3ca2e0;
	border-color: #2698dd;
}

.btn-businessDistrict {
	background-color: #d53e3a;
	border-color: #c22d29;
}

.btn-travel {
	background-color: #3c8df2;
	border-color: #3ca2e0;
}

.btn-schoolDistrict {
	background-color: #f0ad4e;
	border-color: #eea236;
}

.btn-street {
	background-color: #5582f6;
	border-color: #5582f6;
}

.btn-community {
	background-color: #3ecafe;
	border-color: #3ecafe;
}

/**
 *
 */
.panel-container {
	/*z-index: 19991016;*/
	-webkit-animation-name: layer-bounceIn;
	animation-name: layer-bounceIn;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-background-clip: content;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
	position: fixed;
	_position: absolute;
	pointer-events: auto;
	border-radius: 5px;
}

.panel-title {
	padding: 0 80px 0 20px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	color: #333;
	overflow: hidden;
	background-color: #F8F8F8;
	border-radius: 5px 5px 0 0;
}

.panel-bottom {
	width: 280px;
	height: 42px;
	line-height: 42px;
	position: relative;
	text-align: center;
}

.panel-setwin {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0;
	line-height: initial;
	z-index: 200;
}

.panel-setwin a {
	position: relative;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	font-size: 12px;
	display: inline-block;
}

.panel-ico {
	background: url(../images/icon.png) no-repeat;
}

.panel-setwin .panel-close {
	background-position: 1px -40px;
	cursor: pointer;
}

.panel-content {
	position: relative;
	overflow: auto;
	min-height: 130px;
}

/**
 * 列表
 */
#left-panel {
	height: 500px;
	position: absolute;
	left: 85px;
	top: 40px;
	overflow: hidden;
	pointer-events: none;
}

.cardlist {
/* 	width: 333px; */
	position: relative;
	z-index: 0;
}

.cardlist .card.animated-card {
	-webkit-animation-name: card-drop;
	animation-name: card-drop;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.cardlist .card {
	pointer-events: auto;
	width: 100%;
/* 	margin-top: 10px; */
	box-sizing: border-box;
	padding: 0px 10px;
	background: #fff;
/* 	box-shadow: 1px 2px 1px rgba(0, 0, 0, .15); */
	overflow: auto;
	overflow-x: hidden;
	position: relative;
	border-radius: 2px;
	-webkit-transition: max-height .5s;
	transition: max-height .5s;
}

.poilist {
	padding: 5px 0 0;
	color: #4c4c4c;
}

.poilist a {
	color: #3385ff;
}

.search-item {
	padding: 6px 0;
}

.search-item:hover {
	background-color: #f6f6f6;
	cursor: pointer;
}

.cf {
	zoom: 1;
}

.search-item .col-l {
	float: left;
}

.cardlist .card a {
	text-decoration: none;
}

.search-item .no-1 {
	background-image: url(../images/markers.png);
	width: 18px;
	height: 27px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 4px;
	background-position: -181px -139px;
}

.search-item:hover .no-1 {
	background-image: url(../images/markers.png);
	width: 18px;
	height: 27px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 4px;
	background-position: -181px -166px;
}

.search-item .no-1-building {
	background-image: url(../images/markers/building_marker_normal.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item:hover .no-1-building {
	background-image: url(../images/markers/building_marker_selected.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item .no-1-business {
	background-image: url(../images/markers/business_marker_normal.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item:hover .no-1-business {
	background-image: url(../images/markers/business_marker_selected.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item .no-1-travel {
	background-image: url(../images/markers/travel_marker_normal.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item:hover .no-1-travel {
	background-image: url(../images/markers/travel_marker_selected.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item .no-1-old {
	background-image: url(../images/markers/old_marker_normal.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item:hover .no-1-old {
	background-image: url(../images/markers/old_marker_selected.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item .no-1-medical {
	background-image: url(../images/markers/medical_marker_normal.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item:hover .no-1-medical {
	background-image: url(../images/markers/medical_marker_selected.png);
	width: 28px;
	height: 36px;
	display: inline-block;
	margin-left: 4px;
	margin-top: 4px;
	background-repeat: no-repeat;
}

.search-item .col-r {
	float: right;
	/* width: 75px; */
	margin-right: 10px;
	text-align: right;
}

/*.search-item .street-pano {
	background-image: url(../images/camera.png);
	width: 13px;
	height: 17px;
	display: inline-block;
	background-position: 0 26px;
	line-height: 17px;
	float: right;
}*/

.street-pano {
	background-image: url(../images/vr.png);
	width: 32px;
	height: 32px;
	display: inline-block;
}

.search-item .img-wrap {
	position: relative;
}

.search-item .row, .search-item .select-row, .search-item .content-des {
	padding: 5px 0;
	line-height: 1.2;
}

.search-item .addr {
	overflow: hidden;
	font-size: 12px;
}

.search-item .tel {
	font-size: 12px;
}

.cardlist .card a {
	text-decoration: none;
}

.h_20 {
	height: 20px;
}

.mt_5 {
	margin-top: 5px !important;
}

.ml_30 {
	margin-left: 30px !important;
}

.ml_35 {
	margin-left: 35px !important;
}

.mr_90 {
	/* margin-right: 90px; */
}

.n-blue {
	color: #3385ff !important;
}

.n-grey {
	color: #666 !important;
}

#poi_page {
	margin: 5px 0 0;
}

.page {
	font-family: "宋体", sans-serif;
	text-align: center;
	line-height: 12px;
	font-size: 13px;
}

.page span.curPage {
	padding: 4px 5px;
	font-weight: 700;
}

.page span {
	display: inline-block;
	margin: 0 2px;
}

.page a {
	display: inline-block;
	border: #e7ecf0 solid 1px;
	padding: 5px 6px 3px;
	text-decoration: none;
}

/**
 * 信息页
 */
.info-area {
	box-sizing: content-box;
	/* width: 322px;
	height: 265px; */
	position: absolute;
	top: 16px;
	right: 16px;
	left: 16px;
	z-index: 10;
	overflow: hidden;
}

.info-header {
	overflow: hidden;
	height: auto;
	line-height: 26px;
	white-space: nowrap;
	width: auto;
}

.info-header .title {
	font-size: 14px;
	color: rgb(77, 77, 77);
	font-weight: bold;
	text-decoration: none;
}

/*.info-header .vr {
	background-image: url(../images/camera.png);
	width: 13px;
	display: inline-block;
	background-position: 0 32px;
	float: right;
}*/

.info-header .vr {
	background-image: url(../images/vr.png);
	width: 32px;
	height: 32px;
	display: inline-block;
	float: right;
}

.info-body {
	font-size: 12px;
	padding: 5px 0px;
	overflow: hidden;
	/*border-top: 1px solid #777;*/
}

.builder-body .content {
	padding: 0px;
	margin: 0px;
	line-height: 18px;
	font-size: 12px;
}

/**
 *
 */
.special8-box {
	position: relative;
}

.c-container {
}

.card-box {
    background-color: #fff;
}

.unifycontainer .c-flexbox, .unifycontainer .flexbox, .unifycontainer c-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.unifycontainer .special8-title-box {
    cursor: pointer;
}

.special8-title-box {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.c-flexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-lines: single;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: stretch;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: nowrap;
}

.c-flexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-lines: single;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: stretch;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: nowrap;
}

.poidetail-container {
    position: relative;
    font-size: 12px;
}

.cardlist .card {
    pointer-events: auto;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    border-radius: 2px;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}

.unifycontainer .c-title {
    font-color: #333;
    font-size: 12px;
    font-weight: 700;
}

.unifycontainer .special8-title-box {
    cursor: pointer;
}

.c-flexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-lines: single;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: stretch;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: nowrap;
}

.c-flexbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    -webkit-box-lines: single;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: stretch;
    -webkit-align-content: flex-start;
    -webkit-flex-wrap: nowrap;
}

.poidetail-container {
    position: relative;
    font-size: 12px;
}

.cardlist .card {
    pointer-events: auto;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    border-radius: 2px;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}

.c-icon-arrowright {
    display: inline-block;
    width: 5px;
    height: 10px;
    background-size: cover;
}

.c-line-top {
    border-top: 1px solid #eaeaea;
}

.special8-box .photo-list ul.photo-list-ul {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    margin-right: -7px;
}

.special8-box .photo-list ul.photo-list-ul li.photo-li {
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*.special8-box .photo-list ul.photo-list-ul li.photo-li-up .up-photo, .special8-box .photo-list ul.photo-list-ul li.photo-li.padding-height .photo {
    padding-top: 70%;
}*/

.special8-box .photo-list ul.photo-list-ul li.photo-li .photo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    display: block;
    margin-right: 7px;
    background-size: cover;
    background-position: center center;
}

.unifycontainer .special8-box .photo-list ul li {
    cursor: pointer;
}

.photo-image-list {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    display: block;
    margin-right: 7px;
    background-size: cover;
    background-position: center center;
}